<head>
    <title>JS Problems</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/shCoreDefault.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row"><br /></div>
        <div class="row">
            <div class="col-xs-4">
                <h1>JavaScript Exercises</h1>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-xs-12">
                Following are some exercises which make use of JavaScript, jQuery, and CSS under the Bootstrap framework.<br /><br /><br />
                @Html.ActionLink("EX. 1", "Exeuno", "JavaScript", null, new { @class = "btn btn-warning" })<br /><br />
                @Html.ActionLink("EX. 2", "Exedos", "JavaScript", htmlAttributes: new { @class = "btn btn-primary" })<br /><br />
                @Html.ActionLink("EX. 3", "Exetres", "JavaScript", htmlAttributes: new { @class = "btn btn-success" })<br /><br />
                @Html.ActionLink("EX. 4", "Execuatro", "JavaScript", htmlAttributes: new { @class = "btn btn-info" })<br /><br />
                @Html.ActionLink("EX. 5", "Execinco", "JavaScript", htmlAttributes: new { @class = "btn btn-warning" })<br /><br />
            </div>
        </div>
    </div>
</body>
